/* .ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-submenu {
  border-radius: 12px !important;
  margin: 0 4px !important;
  padding: 0 10px !important;
  transition: all 0.3s ease;
}

.ant-menu-item-selected {
  background-color: #1677ff !important;
  color: white !important;
  box-shadow: 0 0 10px #1677ff !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: #2e5aac !important;
  border-radius: 12px !important;
  transform: scale(1.03);
  transition: all 0.2s ease;
} */
